:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;

  
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}
.dark {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.light {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--gray);
  --secondary: var(--black)
}

.header {
  background-color: var(--primary);
}
.gallery {
  background-color: var(--secondary);
  height: 90vh;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--secondary);
}
.gallery, .card-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  width: 92vw;
}
.card {
  background-color: whitesmoke;
  border: 0.3rem solid black;
  border-radius: 30px;
  width: 25vw;
  height: 25vh;
  padding: 0%;
  margin: 1rem;
  align-items: center;
  transition: all 0.3s
}

.switch {
  scale: 1.5;
  position: absolute;
  left: 48vw;
  top: 90vh;
}

.switch1 {
  scale: 1.5;
  position: absolute;
  left: 30vw;
  top: 90vh;
}

.switch2 {
  scale: 1.5;
  position: absolute;
  left: 95vw;
  top: 10vh;
}

.switch3 {
  scale: 1.5;
  position: absolute;
  left: 95vw;
  top: 14vh;
}

.switch4 {
  scale: 1.5;
  position: absolute;
  left: 95vw;
  top: 18vh;
}

.switch5 {
  scale: 1.5;
  position: absolute;
  left: 94vw;
  top: 22vh;
}

.switch6 {
  scale: 1.5;
  position: absolute;
  left: 90vw;
  top: 24vh;
}

.header {
  font-size: 50px;
  text-align: center;
  border-bottom: black solid 3px;
}

.card-title {
  margin: 20px;
  font-size: 2rem;
  text-align: center;
}

.card-description {
  justify-content: center;
  font-size: 0rem;
  margin: 0.5rem 0.9rem;
}

.card-image img{
  width: 16rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}