.dark {
  --primary: var(--grey);
  --secondary: var(--black);
}

.light {
  background-color: whitesmoke;
}

:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --grey: #252c30;
  /*intentions*/
  --primary: var(--grey);
  --secondary: var(--black);
}

body {
  background-color: var(--primary);
}